<h1>BURGERS!!!!</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            Do you want to eat these burgers?!?!?!
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <p>{{burger_name}} <button type="submit" class="devour btn btn-success" data-id="{{id}}">Devour!!!</button></p>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        
        <div class="col-md-6">
            Burgers you have already eaten!!!!
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <p>{{burger_name}}</p>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <h3>Add a burger</h3>
    <form class="creat-form">
        <div class="form-group">
            <label for="ca">Burger Name:</label>
            <input type="text" id="ca" name="name">
        </div>

        <button type="submit">Add Burger</button>
    </form>
</div>